$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bootswatch.min.css";
// endbower

.img-center {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.templates {
  h4 {
    text-align: center;
    color: black;
  }

}

.img-small {
  width: 50%;
}
